<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
	  layout:decorate="~{layout}"
	  lang="en">
<head>
<meta charset="UTF-8">
<title>PL DETAIL</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/playlist.css}">
</head>
<body>

<div layout:fragment="content" class="blog-area section_padding_100 mt-100">
	<div class="container">
		<div class="row justify-content-center">

플레이리스트 상세화면<br>


		<a th:each="Playlist : ${playList22}">
		<img th:src="@{/img/} + ${Playlist.image}" />
		<a th:text="${Playlist.title}"></a>
		<a th:text="${Playlist.discription}"></a>
		<a th:text="${Playlist.id}"></a>
		</a>
		
		<hr>
		
		<ul th:each="Song : ${song22}">
			<!-- <img th:src="@{/img/album/} + ${Song.thumbnail}" /> -->
			<li th:text="${Song.songTitle}"></li>
			<li th:text="${Song.singer}"></li>
			<li><img th:src="${Song.image}"></li>
			<li sec:authorize="isAuthenticated()"><a href="#"
					th:onclick="remove('[[${Song.id}]]','[[${Song.playList.id}]]')">삭제</a></li>
		</ul>
		
		
	<th:block layout:fragment="script">
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
	</th:block>

</body>
<script>
	function remove(plSongId,plId) {
		var form = document.createElement("form");
		form.setAttribute("method", "post");
		form.setAttribute("action", "/playlist/"+ plId +"/song");
		var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "plSongId");
        hiddenField.setAttribute("value", plSongId);
        form.appendChild(hiddenField);

        
		document.body.appendChild(form);
		form.submit();
	}
</script>
</html>