<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PL DETAIL</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/playlist.css}">
</head>
<body>
플레이리스트 상세화면<br>


		<a th:each="Playlist : ${playList22}">
		<img th:src="@{/img/} + ${Playlist.image}" />
		<a th:text="${Playlist.title}"></a>
		<a th:text="${Playlist.discription}"></a>
		<a th:text="${Playlist.id}"></a>
		</a>
		
		<hr>
		
		<ul th:each="Song : ${song22}">
			<!-- <img th:src="@{/img/album/} + ${Song.thumbnail}" /> -->
			<li th:text="${Song.songTitle}"></li>
			<li th:text="${Song.singer}"></li>
			<li><img th:src="${Song.image}"></li>
			<li sec:authorize="isAuthenticated()"><a href="#"
					th:onclick="remove('[[${Song.id}]]','[[${Song.playList.id}]]')">삭제</a></li>
		</ul>


</body>
<script>
	function remove(plSongId,plId) {
		var form = document.createElement("form");
		form.setAttribute("method", "post");
		form.setAttribute("action", "/playlist/"+ plId +"/song");
		var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "plSongId");
        hiddenField.setAttribute("value", plSongId);
        form.appendChild(hiddenField);

        
		document.body.appendChild(form);
		form.submit();
	}
</script>
</html>