<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
	  layout:decorate="~{layout}"
	  lang="en">
<head>
<meta charset="UTF-8">
<title>WishList</title>
</head>
<body>

<div layout:fragment="content" class="blog-area section_padding_100 mt-100">
	<div class="container">
		<div class="row justify-content-center">
		
<h3>wishlist</h3>

	<!-- 			<table>
					<tr th:each="WishList : ${myWishList}">
						<td>
							<a th:href="@{/playlist/{id}/song (id=${Wishlist.id})}">
							<img th:src="@{/img/} + ${WishList.image}" />
							<p th:text="${Wishlist.title}"></p>
						</td>
					</tr>
				</table> -->
				
				
				
				
	<th:block layout:fragment="script">
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
	</th:block>
					
</body>
</html>