<div th:fragment="footerFragment">
  <!-- Footer Area Start -->
  <footer class="footer-area">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-12 h-100">
          <div
            class="footer-content h-100 d-md-flex align-items-center justify-content-between"
          >
            <!-- Single Footer Content -->
            <div class="single-footer-content">
              <img src="img/map.png" alt="" />
              <a href="#"
                >85, Misagangbyeondong-ro, Hanam-si,<br />Gyeonggi-do, Republic
                of Korea</a
              >
            </div>
            <!-- Single Footer Content -->
            <div class="single-footer-content">
              <img src="" alt="" />
              <a href="#">Copyright 2023. LTM all rights reserved</a>
            </div>
            <!-- Single Footer Content -->
            <div class="single-footer-content">
              <img src="img/envelope-2.png" alt="" />
              <a href="#">LTM@company.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Area End -->
</div>