<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
	<table border="1">
		<form th:object="${replyFormDto}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
	<tr>
		<td>댓글수정</td>
	</tr>
	<tr>
    	<td>작성자</td>
    	<td>아무개</td>
	</tr>
	<tr>
		<td>내용</td>
		<td><textarea style="resize: none;" th:field="*{rbody}" rows="10" cols="80"></textarea></td>
	</tr>
	<tr>
		<td>
		<input type="submit" value="저장"> 
		</td>
	</tr>
		</form>
	</table>
</body>

</html>