<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
	  layout:decorate="~{layout}"
	  lang="en">
<body>
    <!-- Blog Area Start -->
    <div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/member/create}" th:object="${memberFormDto}" method="post">
    	<!-- 오류메세지출력 -->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div> 
        <div class="mb-3">
            <label for="id" class="form-label">사용자ID</label>
            <input type="text" th:field="*{id}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" th:field="*{nickname}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">연락처</label>
            <input type="text" th:field="*{phone}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="birth" class="form-label">생년월일</label>
            <input type="date" th:field="*{birth}" class="form-control">
        </div>
        <div class="mb-3">
            <input type="hidden" th:field="*{joindate}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
    <!-- Blog Area End -->



	<th:block layout:fragment="script">
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
	</th:block>
</body>

</html>